sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install .
  - pip install python-dateutil
  - pip install httpretty
  - pip install python-coveralls
  - pip install nosexcover
cache: pip
script: nosetests --with-xcoverage --cover-package=pyzotero --cover-tests
after_success:
  - coveralls
notifications:
  email:
    - urschrei@gmail.com
